<tr>
  <td><%= t("filename") %>:</td>
  <td><%= f.file_field :attachment %></td>
</tr>
<tr>
  <td><%= t("destination_url") %></td>
  <td><%= f.text_field :destination_url %></td>
</tr>
<tr>
  <td><%= t("alt") %></td>
  <td><%= f.text_field :alt %></td>
</tr>
