<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_homepage_image"), new_admin_homepage_image_url, :icon => 'add', :id => 'admin_new_homepage_image_link' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("homepage_images") %></h1>

<table class="index sortable" data-sortable-link="<%= update_positions_admin_homepage_images_url %>">
  <tr>
    <th><%= t("thumbnail") %></th>
    <th><%= t("destination_url") %></th>
  </tr>

  <% @homepage_images.each do |image| %>
    <tr id="<%= dom_id(image) %>">
      <td>
        <span class="handle"></span>
        <%= link_to(image_tag(image.attachment.url(:small)), image.attachment.url(:standard)) %>
      </td>
      <td>
        <%= link_to(image.destination_url, image.destination_url) %>
      </td>
      <td class="actions">
        <%= link_to_with_icon('edit', t("edit"), edit_admin_homepage_image_url(image), :class => 'edit') %>
        &nbsp;
        <%= link_to_delete image, {:url => admin_homepage_image_url(image) }%>
      </td>
    </tr>
  <% end %>
</table>
